.palette {
  height: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* .container > div:nth-child(1) 로도 가능*/
.box1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #fc5c65;
}

.box2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #fd9644;
}

.box3 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #fed330;
}

.box4 {
  grid-area: 1 / 4 / 2 / 5;
  background-color: #26de81;
}

.box5 {
  grid-area: 1 / 5 / 2 / 6;
  background-color: #2bcbba;
}
